---
layout: page
title: Tachartasan
permalink: /tachartasan/
---

 {% for event in site.events %}
   <div class="row">
  <div class="col-md-3">
    <p class="p-0 my-1 mx-0" style="text-align: right"><span class="post-meta"><small>{{ event.event_date | date: "%Y-%m-%d" }}<br/>{{ event.event_time }}</small></span></p>
  </div>
  <div class="col-md-9">
    <p style="font-family: Lemonada">{{ event.title }}</p>
    {% if event.address %}
    <p>
      {{ event.address }}
    </p>
    {% endif %}
    {% if event.website %}
    <p>
      <a href="{{ event.website }}">{{ event.website }}</a>
    </p>
    {% endif %}
    {% if event.email %}
    <p>
      <a href="mailto:{{ event.email }}">{{ event.email }}</a>
    </p>
    {% endif %}
  </div>
</div>
{% endfor %}