<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Dhachaigh</a>
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/faclair-nan-geidheal">Faclair nan Gèidheal</a>
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/dualchas">Dualchas</a>
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/tachartasan/">Tachartasan</a>
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/comhairle">Comhairle</a>
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/ceanglaichean">Ceanglaichean</a>
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="https://geidhuk.myspreadshop.co.uk/">Bùth-bhathair</a>
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/mu-ar-deidhinn">Mu ar deidhinn</a>
  </nav>
  <div class="sidebar-item">
    <p><a href="https://www.instagram.com/angeidhealur">Instagram</a></p>
    <p><a href="https://www.twitter.com/angeidhealur">Twitter</a></p>
    <p><a href="{{ site.baseurl }}/cuir-fios">Cuir fios</a></p>
    <p>
      &copy; {{ site.time | date: '%Y' }}.
    </p>
  </div>
</div>
