<div class="row">
  <div class="col-md-4">
    <p><i class="fab fa-twitter"></i> <a href="https://www.twitter.com/AnGeidhealUr">@AnGeidhealUr</a></p>
    <p><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/AnGeidhealUr">@AnGeidhealUr</a></p>
  </div>
  <div class="col-md-4">
    <p><i class="fab fa-twitter"></i> <a href="https://www.twitter.com/MacMhicheil">@MacMhìcheil</a></p>
    <p><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/MacMhicheil">@MacMhìcheil</a></p>
  </div>
  <div class="col-md-4">
    <p><i class="fa-solid fa-square-rss"></i> <a href="{{ site.baseurl }}/feed">Inbhir RSS</a></p>
  </div>
</div>
