---
layout: page
---
{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

{% unless site.categories[page.category].size > 0 %}
  <p>Chan eil post sam bith anns an roinn-seòrsa seo.</p>
{% endunless %}

<div class="home py-4 py-md-5">
<div class="row">
{% for post in site.categories[page.category] %}   
<div class="col-md-4">
 <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">
  <div class="card rounded overflow-hidden">  
    <div class="image">
      {% if post.image %}
      <img src="{{post.image | relative_url}}" alt="{{post.title}}">
      {% endif %}
      <div class="card-body">
        <h3 class="panel-title font-weight-bold">{{ post.title }}</h3>
        <p class="p-0 my-1 mx-0"><span class="post-meta"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span></p>
         <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 150 }}</p>
      </div>
    </div>
  </div>
</a>
</div>
{% endfor %}
</div>
</div>